* {
  box-sizing: border-box;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  height: auto;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.background {
  background: url("./img/background.jpg");
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav {
  background-color: black;
  height: 160px;
  padding: 6px 10px;
  width: 100%;
  z-index:2;
}
.nav div {
  display: flex;
  flex-direction: column;
  height: 80%;
}
ul {
  display: flex;
  height: 20%;
  justify-content: flex-start;
  list-style: none;
}

.nav li {
  color: white;
  padding: 0 12px;
  width: auto;
}

.nav :nth-child(1){
  padding: 0;
}

.column-container {
  display:flex;
  border-right: solid 2px white;
  min-height: 900px;
  padding: 6px;
  text-align: center;
  width: auto;
}

.column {
  background: yellowgreen;
  border-radius: 15px;
  width: 230px;
}

.column h2{
  color: rgb(78, 78, 53);
}
.task {
  background-color: rgb(0,0,0);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 120px;
  margin: 4px;
  padding: 8px 12px;
  width: auto;
}

.task h1{
  font-size: 14px;
  height: 18px;
}
.task p{
  text-align: left;
  font-size: 12px;
  margin: 4px 0;
}

.attributes {
  margin-top: 20px;
  display: flex;
  color:aliceblue;
}